.jumbotron{
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;

}

.display-1{
    margin-left: 10%;
    // margin-top: 5%;
    margin-bottom: 0px;
}

.display-12{
    font-weight: lighter;
    margin-left: 10%;
}

.lead{
    text-align: justify;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.75rem;
}

.thumb{
    font-size: 50px;
}

.centerBlock {
    // display: table;
    margin: auto;
    margin-top: 5%;
  }

  .vote{
    margin-right: 5%;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 250%;
  }

  .btn-outline-dark {
    --bs-btn-font-size: 1.2rem;
    --bs-btn-border-radius: 0.2rem;
    margin: 20px;
}